/* HeroDetailComponent's private CSS styles */
h2 {
  text-decoration: underline;
}

label {
  color: #000;
  font-weight: bold;
}

.span {
  text-transform: uppercase;
}

input {
  font-size: 1em;
  padding: .5rem;
  border-radius: 5px;
  border: 1px solid #c6c8ce; /* cornflower 300 */
}

input:hover {
  border: 2px solid #9ca6f9; /* bluebery 500 */
}

input:focus {
  /* outline: #336699 auto 1px; blueberry 300 */
  border: 3px solid #5a6af5; /* blueberry 300 */
}

button {
  margin-top: 20px;
  margin-right: .5rem;
  padding: .5rem;
  border-radius: 5px;
  font-size: 1rem;
}


.stat {
  margin: 10px 0 10px;
}
