/* AppComponent's private CSS styles */
h1 {
  margin-bottom: 0;
  align-self: center;
  font-size: 50px;
}

nav {
  margin: 20px 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

nav a {
  padding: 1rem;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  margin: 0;
}
