/* HeroSearch private styles */

label {
  display: block;
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: .5rem;

}

div {
  margin: 100px 0 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  padding: .5rem;
  width: 100%;
  max-width: 600px;
  box-sizing: border-box;
  display: block;
  border-radius: 5px;
  border: 1px solid #c6c8ce; /* cornflower 300 */
}

input:hover {
  border: 2px solid #9ca6f9; /* bluebery 500 */
}

input:focus {
  /* outline: #336699 auto 1px; blueberry 300 */
  border: 3px solid #5a6af5; /* blueberry 300 */
}

li {
  list-style-type: none;
}
.search-result li a {
  /* border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray; */
  border-radius: 5px;
  display: inline-block;
  width: 100%;
  max-width: 600px;
  padding: .5rem;
  box-sizing: border-box;
  text-decoration: none;
  margin-top: 5px;
}

ul.search-result {
  margin-top: 0;
  padding-left: 0;
}
